altgraph~=0.17.3
asttokens~=2.1.0
bip32utils~=0.3.post4
certifi~=2022.6.15.1
cffi~=1.15.1
colorama~=0.4.6
cryptography~=38.0.4
cx-Freeze~=6.15.1
docopt~=0.6.2
ecdsa~=0.18.0
executing~=1.2.0
geographiclib~=1.52
geopy~=2.2.0
html~=1.13
html2text~=2020.1.16
idna~=3.3
mnemonic~=0.20
Naked~=0.1.31
ntplib~=0.4.0
Nuitka~=1.5.5
numpy~=1.23.5
pip~=21.1.2
pipreqs~=0.4.11
pyasn1~=0.4.8
pycparser~=2.21
pycryptodome~=3.16.0
pyinstaller~=5.7.0
PySide6~=6.4.1
PyYAML~=6.0
requests~=2.28.2
rsa~=4.9
setuptools~=57.0.0
shiboken6~=6.4.2
six~=1.16.0
urllib3~=1.26.12
wheel~=0.36.2
yarg~=0.1.9