pip~=21.1.2
html~=1.13
wheel~=0.36.2
rsa~=4.9
pyasn1~=0.4.8
PyYAML~=6.0
requests~=2.28.1
Naked~=0.1.31
six~=1.16.0
ecdsa~=0.18.0
geopy~=2.2.0
geographiclib~=1.52
numpy~=1.23.5
setuptools~=57.0.0
cffi~=1.15.1
pyinstaller~=5.7.0
yarg~=0.1.9
Nuitka~=1.3.2
colorama~=0.4.6
PySide6~=6.4.1
shiboken6~=6.4.1
certifi~=2022.6.15.1
docopt~=0.6.2
pipreqs~=0.4.11
altgraph~=0.17.3
mnemonic~=0.20
idna~=3.3
urllib3~=1.26.12
asttokens~=2.1.0
executing~=1.2.0
pycparser~=2.21
bip32utils~=0.3.post4
cryptography~=38.0.1
html2text~=2020.1.16
ntplib~=0.4.0
PyCryptodome
